{% extends 'base.html' %}

{% block content %}
    <br>
    <h1 style="color:#000000;">{% block title %} View Customers {% endblock %}</h1>
    <br>
    <br>
    <table id="customers">
    <tr><th>Customer Name</th><th>Balance</th></tr>
    {% for cust in customers %}
    <tr onclick="window.location.href = '/info/{{cust}}'" onmouseover="(document.getElementById('{{cust}}')).style.color='#000000'" onmouseout="(document.getElementById('{{cust}}')).style.color='#000000'"><td><a class="cust" id='{{cust}}' style="color:black;">{{cust}}</a></td><td>{{customers[cust]}}</td></tr>
    {% endfor %}
{% endblock %}
{% block heading %}
    TSF Bank
{% endblock %}
{% block item1 %}
    Dashboard
{% endblock %}
{% block item1href %}
    "dashboard"
{% endblock %}
{% block item2 %}
    Make a Transaction
{% endblock %}
{% block item2href %}
    "transaction-page"
{% endblock %}