{% extends 'base.html' %}

{% block content %}
    <br>
    <h1 style="color:black;">{% block title %} Welcome to Bank Dashboard {% endblock %}</h1>
    <h3 style="color:black;">Click a option in the menu bar</h3>
    <br>
    <br>
    <button type="button" onclick="window.location.href = '/transaction-page'" href style="text-align:left; width: fit-content; background-color: black;" class="btn mb-2 mb-md-0 btn-primary btn-block">View All Customers
    </button>
    {% endblock %}
{% block heading %}
    TSF Bank
{% endblock %}
{% block item1 %}
    View All Customers
{% endblock %}
{% block item1href %}
    "customers"
{% endblock %}
{% block item2 %}
    Make a Transaction
{% endblock %}
{% block item2href %}
    "transaction-page"
{% endblock %}