{% extends 'base.html' %}

{% block content %}
<div class="jumbotron text-center" style="margin-bottom: 0">
            <h2 class="display-3">Sorry, you don't have enough balance</h1>
            <p class="lead">You only have <strong>{{rembal}}</strong> rupees</p>
{% endblock %}
{% block heading %}
    TSF Bank
{% endblock %}
{% block item1 %}
    View All Customers
{% endblock %}
{% block item1href %}
    "customers"
{% endblock %}
{% block item2 %}
    Make a Transaction
{% endblock %}
{% block item2href %}
    "transaction-page"
{% endblock %}