{% extends 'base.html' %}
{% block content %}
    <br>
    <h1>{% block title %} Transaction Page {% endblock %}</h1>
    <br>
    <br>
    <form name="detailsp" action="processtran" method="POST">
    <h5>Send Money From:    </h5>
    <select name="from" id="from" class="form-control">
        <option selected>{{user}}</option>
    </select>
    <br>
    <h5>Send Money To:    </h5>
    <select name="to" id="to" class="form-control">
        {% for cust in customers %}
        {% if h %}
        {% if h == cust %}
        <option selected>{{cust}}</option>
        {% else %}
        <option>{{cust}}</option>
        {% endif %}
        {% else %}
        <option>{{cust}}</option>
        {% endif %}
        {% endfor %}
    </select>
    <br>
    <h5>Enter Amount: </h5><input type = "number" name="amount" id="amount">
    <br>
    <br>
    <p class = "lead">Solve Captcha:      </p><img src="/static/{{captcha}}" alt="ahctpac"><br><input type="hidden" name="token" id="token" value="{{token}}"><br><input name="captcha" id="captcha" type="text"><br><br>
    <button type="submit" style="text-align:left; width: fit-content; background-color: black;" class="btn mb-2 mb-md-0 btn-primary btn-block">Initiate Transaction
    </button>
    </form>
{% endblock %}
{% block heading %}
    TSF Bank
{% endblock %}
{% block item1 %}
    View All Customers
{% endblock %}
{% block item1href %}
    "customers"
{% endblock %}
{% block item2 %}
    Make a Transaction
{% endblock %}
{% block item2href %}
    "transaction-page"
{% endblock %}